In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("/home/rando149/shared/data/Collection_3165_Supporting_Documentation/abcd-tabulated-data-release-5.1/core/substance-use/su_y_sui.csv",low_memory=False)
df

,src_subject_id,eventname,su_today,tlfb_age,tlfb_age_month,tlfb_age_calc_inmonths,tlfb_alc,tlfb_tob,tlfb_mj,tlfb_mj_synth,...,xskipout_tob_l,xskipout_mj_l,xskipout_other_l,xskipout_end,xskipout_vape,xskipout_remote___1,xskipout_remote___2,xskipout_remote___3,xskipout_remote___4,xskipout_session
0,NDAR_INV003RTV85,baseline_year_1_arm_1,2018-10-01,10.0,11.0,131.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NDAR_INV003RTV85,1_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NDAR_INV003RTV85,2_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NDAR_INV003RTV85,3_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NDAR_INV005V6D2C,baseline_year_1_arm_1,2018-04-22,10.0,1.0,121.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49146,NDAR_INVZZZP87KR,baseline_year_1_arm_1,NaN,10.0,7.0,127.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49147,NDAR_INVZZZP87KR,1_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49148,NDAR_INVZZZP87KR,2_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49149,NDAR_INVZZZP87KR,3_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49150,NDAR_INVZZZP87KR,4_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.iloc[0:10,571]

0     NaN
1    11.0
2    13.0
3    13.0
4     NaN
5    10.0
6    12.0
7    12.0
8     NaN
9    13.0
Name: tlfb_age_l, dtype: float64

In [14]:
df.loc[0:10,'isip_2_l']

0     NaN
1     NaN
2     NaN
3     0.0
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
Name: isip_2_l, dtype: float64