In [8]:
import pandas as pd
import re

In [9]:
df = pd.read_csv("/home/rando149/shared/data/Collection_3165_Supporting_Documentation/abcd-tabulated-data-release-5.1/core/substance-use/su_y_tlfb.csv")
df

,src_subject_id,eventname,tlfb_cal_scr_assess_date,tlfb_cal_scr_num_events,tlfb_cal_scr_num_bde,tlfb_cal_scr_tot_bde,tlfb_cal_scr_drinksperbinge,tlfb_cal_scr_alc_avg,tlfb_cal_scr_alc_ud,tlfb_cal_scr_alc_td,...,tlfb_cal_scr_smj_td_cum,tlfb_cal_scr_smj_ud_cum,tlfb_cal_scr_stimrx_td_cum,tlfb_cal_scr_stimrx_ud_cum,tlfb_cal_scr_tot_su_ud_cum,tlfb_cal_scr_vmjf_td_cum,tlfb_cal_scr_vmjf_ud_cum,tlfb_cal_scr_vmjo_ud_cum,su_tlfb_cal_scr_nic_days_cum,su_tlfb_cal_scr_mj_days_cum
0,NDAR_INV03CV8RDT,4_year_follow_up_y_arm_1,2021-10-27T16:43:12-07:00,8.0,0.0,5.0,NaN,1.0,5.0,5.0,...,0.0,0.0,0.0,0.0,8.0,1.0,1.0,2.0,0.0,3.0
1,NDAR_INV03YU08FA,3_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NDAR_INV04EUBGTM,4_year_follow_up_y_arm_1,2021-10-28T09:46:18-07:00,6.0,0.0,6.0,NaN,1.0,6.0,6.0,...,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
3,NDAR_INV06A9DLE9,2_year_follow_up_y_arm_1,2021-02-22T15:00:22-08:00,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,9.0,NaN
4,NDAR_INV06A9DLE9,3_year_follow_up_y_arm_1,2021-10-19T14:14:09-07:00,1.0,0.0,0.0,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,NDAR_INVZWE6CD6Y,4_year_follow_up_y_arm_1,2021-10-12T10:58:25-07:00,276.0,29.0,145.0,5.0,5.0,29.0,145.0,...,1.0,1.0,0.0,0.0,275.0,1.0,1.0,0.0,193.0,2.0
755,NDAR_INVZZFG6J5U,3_year_follow_up_y_arm_1,2021-05-08T09:42:31-07:00,8.0,1.0,4.0,4.0,4.0,1.0,4.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,7.0,0.0
756,NDAR_INVZZJ3A7BK,2_year_follow_up_y_arm_1,2019-10-29T12:36:10-07:00,21.0,NaN,NaN,NaN,1.0,3.0,3.0,...,9.5,17.0,NaN,NaN,21.0,NaN,NaN,NaN,NaN,18.0
757,NDAR_INVZZJ3A7BK,3_year_follow_up_y_arm_1,2020-07-17T14:23:35-07:00,46.0,0.0,1.0,NaN,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,46.0,0.0,0.0,13.0,28.0,17.0
758,NDAR_INVZZJ3A7BK,4_year_follow_up_y_arm_1,2021-10-21T16:55:52-07:00,142.0,0.0,4.0,NaN,2.0,2.0,4.0,...,212.0,106.0,9.0,1.0,142.0,0.0,0.0,20.0,12.0,127.0

In [10]:
filtered_df = df[df['eventname'] == 'baseline_year_1_arm_1']
other_columns = df.columns.drop('eventname')

for column in other_columns:
    counts = filtered_df[column].value_counts()
    print(f"Counts for {column}:")
    print(counts)
    print()

Counts for src_subject_id:
src_subject_id
NDAR_INV1JB5GWEU    1
NDAR_INVR6KT9419    1
NDAR_INVK9N3BY03    1
NDAR_INVKD2D4HP2    1
NDAR_INVKE2BKXMG    1
NDAR_INVMKWH6RED    1
NDAR_INVN8VXKZGH    1
NDAR_INVNBMXW84N    1
NDAR_INVNEZBVR4A    1
NDAR_INVP1WDXV8E    1
NDAR_INVP6166U2A    1
NDAR_INVR2HJCC0M    1
NDAR_INVR5EL81TR    1
NDAR_INVRAPG65HL    1
NDAR_INVH5JWK5CC    1
NDAR_INVTHZ2FDT4    1
NDAR_INVU05PVKML    1
NDAR_INVU3KXEXJ2    1
NDAR_INVUXJ71XMK    1
NDAR_INVV0E701P6    1
NDAR_INVVKA7FXC3    1
NDAR_INVWL1XK1BE    1
NDAR_INVX3ZLE0DN    1
NDAR_INVXU6572VY    1
NDAR_INVZ4X8D1A7    1
NDAR_INVZPEYC15U    1
NDAR_INVK6JLBKLR    1
NDAR_INVF6FNZP8T    1
NDAR_INV29YF00DM    1
NDAR_INV8U3ZUTV6    1
NDAR_INV2KJNX54B    1
NDAR_INV2UWL3APY    1
NDAR_INV302WRHGU    1
NDAR_INV36ZHEYW9    1
NDAR_INV3GFD7GXB    1
NDAR_INV3YKLWXF1    1
NDAR_INV41KABJ1Z    1
NDAR_INV54X5F37C    1
NDAR_INV5VD5LWH4    1
NDAR_INV5XU9RLTX    1
NDAR_INV6012XAJ6    1
NDAR_INV90MGDTFD    1
NDAR_INVEU6NMEWP    1
NDAR_INV91EWHTJ4    1
NDAR_INV9D91PDLZ    1
NDAR_INVA0KZT97H    1
NDAR_INVCKA8AFM8    1
NDAR_INVCW834UMA    1
NDAR_INVD13H7C62    1
NDAR_INVD3GNFZJJ    1
NDAR_INVD9L81NY5    1
NDAR_INVDULBXX1K    1
NDAR_INVEA7VZ2YU    1
NDAR_INVET5DBKFV    1
NDAR_INVZVD13ZMG    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_assess_date:
tlfb_cal_scr_assess_date
2018-08-18T07:54:39-07:00    1
2017-10-11T09:22:16-07:00    1
2016-09-25T14:54:10-07:00    1
2016-10-20T07:27:39-07:00    1
2021-06-16T15:23:57-07:00    1
2021-09-17T09:45:32-07:00    1
2017-07-18T12:41:39-07:00    1
2017-05-11T17:32:22-07:00    1
2017-08-27T09:14:51-07:00    1
2019-06-20T11:15:03-07:00    1
2017-02-16T13:51:10-08:00    1
2016-10-08T16:38:38-07:00    1
2021-07-25T06:45:48-07:00    1
2018-07-27T09:47:43-07:00    1
2018-07-23T05:22:49-07:00    1
2016-11-18T14:30:52-08:00    1
2021-07-09T09:17:30-07:00    1
2021-08-25T07:59:27-07:00    1
2018-05-10T14:48:56-07:00    1
2016-12-17T11:20:08-08:00    1
2017-02-05T11:53:27-08:00    1
2021-08-07T11:53:26-07:00    1
2019-07-31T15:21:05-07:00    1
2020-03-04T18:47:48-08:00    1
2018-02-15T07:46:07-08:00    1
2017-05-14T12:07:20-07:00    1
2017-01-13T07:49:57-08:00    1
2018-04-24T06:24:47-07:00    1
2018-08-29T05:06:54-07:00    1
2016-11-19T14:53:15-08:00    1
2021-07-03T08:38:55-07:00    1
2018-10-14T08:35:20-07:00    1
2018-07-13T18:21:17-07:00    1
2017-09-29T09:41:01-07:00    1
2016-10-09T13:19:01-07:00    1
2018-06-02T12:49:23-07:00    1
2020-06-19T15:25:54-07:00    1
2017-01-28T10:21:29-08:00    1
2021-08-17T08:24:28-07:00    1
2017-09-28T06:34:02-07:00    1
2021-07-15T10:15:31-07:00    1
2018-07-01T11:56:06-07:00    1
2017-04-05T09:55:34-07:00    1
2018-07-27T10:31:43-07:00    1
2017-01-08T17:49:32-08:00    1
2017-04-10T16:52:26-07:00    1
2021-07-15T12:46:09-07:00    1
2018-08-13T13:31:29-07:00    1
2021-05-17T15:29:34-07:00    1
2016-11-15T10:22:04-08:00    1
2019-12-07T15:07:41-08:00    1
2016-09-22T15:04:38-07:00    1
2017-06-15T15:49:10-07:00    1
2018-03-27T17:27:45-07:00    1
2016-12-20T12:22:07-08:00    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_num_events:
tlfb_cal_scr_num_events
1.0     22
0.0     14
2.0      5
26.0     1
5.0      1
25.0     1
3.0      1
8.0      1
Name: count, dtype: int64

Counts for tlfb_cal_scr_num_bde:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_tot_bde:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_drinksperbinge:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_alc_avg:
tlfb_cal_scr_alc_avg
0.10    5
1.00    4
2.00    1
0.20    1
5.00    1
0.69    1
0.00    1
0.50    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_alc_ud:
tlfb_cal_scr_alc_ud
1.0    13
3.0     1
8.0     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_alc_td:
tlfb_cal_scr_alc_td
0.1000    5
1.0000    3
2.0000    1
0.2000    1
5.0000    1
3.0000    1
5.5000    1
0.0001    1
0.5000    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_alc_max:
tlfb_cal_scr_alc_max
0.1000    5
1.0000    5
2.0000    1
0.2000    1
5.0000    1
0.0001    1
0.5000    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_alc_wu:
tlfb_cal_scr_alc_wu
0.0    10
1.0     4
6.0     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_alc_wt:
tlfb_cal_scr_alc_wt
0.0    10
0.1     2
2.0     1
1.0     1
3.5     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_alc_lud:
tlfb_cal_scr_alc_lud
2018-08-04    1
2018-06-13    1
2016-09-18    1
2015-07-15    1
2016-07-15    1
2015-12-25    1
2016-11-28    1
2016-05-10    1
2017-03-15    1
2016-10-31    1
2016-07-05    1
2016-07-18    1
2017-08-15    1
2016-12-08    1
2017-01-28    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cig_avg:
tlfb_cal_scr_cig_avg
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cig_ud:
tlfb_cal_scr_cig_ud
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cig_td:
tlfb_cal_scr_cig_td
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cig_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cig_wu:
tlfb_cal_scr_cig_wu
0.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cig_wt:
tlfb_cal_scr_cig_wt
0.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cig_lud:
tlfb_cal_scr_cig_lud
2017-07-04    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_ecig_avg:
tlfb_cal_scr_ecig_avg
1.0    5
3.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_ecig_ud:
tlfb_cal_scr_ecig_ud
1.0     4
24.0    1
2.0     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_ecig_td:
tlfb_cal_scr_ecig_td
1.0     3
3.0     1
24.0    1
2.0     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_ecig_max:
tlfb_cal_scr_ecig_max
1.0    5
3.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_ecig_wu:
tlfb_cal_scr_ecig_wu
0.0    4
1.0    2
Name: count, dtype: int64

Counts for tlfb_cal_scr_ecig_wt:
tlfb_cal_scr_ecig_wt
0.0    4
1.0    2
Name: count, dtype: int64

Counts for tlfb_cal_scr_ecig_lud:
tlfb_cal_scr_ecig_lud
2017-09-22    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_chew_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_chew_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_chew_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_chew_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_chew_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_chew_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_chew_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cg_avg:
tlfb_cal_scr_cg_avg
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cg_ud:
tlfb_cal_scr_cg_ud
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cg_td:
tlfb_cal_scr_cg_td
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cg_max:
tlfb_cal_scr_cg_max
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cg_wu:
tlfb_cal_scr_cg_wu
0.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cg_wt:
tlfb_cal_scr_cg_wt
0.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_cg_lud:
tlfb_cal_scr_cg_lud
2016-08-25    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_hooka_avg:
tlfb_cal_scr_hooka_avg
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_hooka_ud:
tlfb_cal_scr_hooka_ud
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_hooka_td:
tlfb_cal_scr_hooka_td
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_hooka_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hooka_wu:
tlfb_cal_scr_hooka_wu
0.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_hooka_wt:
tlfb_cal_scr_hooka_wt
0.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_hooka_lud:
tlfb_cal_scr_hooka_lud
2018-05-15    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_pipe_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_pipe_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_pipe_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_pipe_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_pipe_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_pipe_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_pipe_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_nicrx_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_nicrx_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_nicrx_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_nicrx_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_nicrx_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_nicrx_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_nicrx_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_smj_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_smj_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_smj_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_smj_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_smj_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_smj_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_smj_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_blunt_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_blunt_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_blunt_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_blunt_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_blunt_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_blunt_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_blunt_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjf_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjf_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjf_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjf_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjf_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjf_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjf_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_emj_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_emj_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_emj_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_emj_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_emj_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_emj_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_emj_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjo_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjo_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjo_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjo_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjo_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjo_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_vmjo_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_dab_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_dab_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_dab_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_dab_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_dab_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_dab_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_dab_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjalc_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjalc_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjalc_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjalc_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjalc_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjalc_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjalc_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjt_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjt_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjt_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjt_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjt_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjt_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mjt_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cbd_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cbd_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cbd_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cbd_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cbd_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cbd_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_cbd_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_k2_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_k2_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_k2_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_k2_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_k2_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_k2_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_k2_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_coc_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_coc_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_coc_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_coc_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_coc_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_coc_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_coc_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_bthslt_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_bthslt_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_bthslt_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_bthslt_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_bthslt_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_bthslt_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_bthslt_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_meth_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_meth_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_meth_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_meth_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_meth_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_meth_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_meth_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mdma_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mdma_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mdma_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mdma_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mdma_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mdma_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_mdma_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_ket_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_ket_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_ket_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_ket_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_ket_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_ket_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_ket_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_gbh_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_gbh_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_gbh_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_gbh_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_gbh_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_gbh_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_gbh_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_opiate_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_opiate_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_opiate_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_opiate_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_opiate_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_opiate_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_opiate_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_shroom_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_shroom_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_shroom_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_shroom_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_shroom_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_shroom_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_shroom_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_sal_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_sal_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_sal_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_sal_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_sal_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_sal_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_sal_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hall_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hall_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hall_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hall_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hall_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hall_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_hall_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_roid_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_roid_ud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_roid_td:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_roid_max:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_roid_wu:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_roid_wt:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_roid_lud:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_inhal_avg:
Series([], Name: count, dtype: int64)

Counts for tlfb_cal_scr_inhal_ud:
tlfb_cal_scr_inhal_ud
26.0    1
1.0     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_inhal_td:
tlfb_cal_scr_inhal_td
52.0    1
1.0     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_inhal_max:
tlfb_cal_scr_inhal_max
2.0    1
1.0    1
Name: count, dtype: int64

Counts for tlfb_cal_scr_inhal_wu:
tlfb_cal_scr_inhal_wu
26.0    1
0.0     1
Name: count, dtype: int64

Counts for tlfb_cal_scr_inhal_wt:
tlfb_cal_scr_inhal_wt
52.0    1
0.0     1
Name: count, dtype: int64


In [11]:
df.dtypes

src_subject_id                   object
eventname                        object
tlfb_cal_scr_assess_date         object
tlfb_cal_scr_num_events         float64
tlfb_cal_scr_num_bde            float64
                                 ...
tlfb_cal_scr_vmjf_td_cum        float64
tlfb_cal_scr_vmjf_ud_cum        float64
tlfb_cal_scr_vmjo_ud_cum        float64
su_tlfb_cal_scr_nic_days_cum    float64
su_tlfb_cal_scr_mj_days_cum     float64
Length: 440, dtype: object

In [12]:
#function to choose which session to evaluate for which metric
def eval_metric(df, session, metric):
    su_df = df.copy()
    result_df = pd.DataFrame()
    new_df = pd.DataFrame()

    sessions = session.split(',')
    metrics = metric.split(',')

    for s in sessions:
        if s == '1':
            temp_df = su_df[su_df['eventname'].str.startswith('1_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('1_year_follow_up_y_arm_1', x).group() if re.search('1_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == '2':
            temp_df = su_df[su_df['eventname'].str.startswith('2_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('2_year_follow_up_y_arm_1', x).group() if re.search('2_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == '3':
            temp_df = su_df[su_df['eventname'].str.startswith('3_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('3_year_follow_up_y_arm_1', x).group() if re.search('3_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == '4':
            temp_df = su_df[su_df['eventname'].str.startswith('4_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('4_year_follow_up_y_arm_1', x).group() if re.search('4_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == 'baseline':
            temp_df = su_df[su_df['eventname'].str.startswith('baseline')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('baseline_year_1_arm_1', x).group() if re.search('baseline_year_1_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        else:
            print(f"error with session: {s}")

    #testing results
    if not result_df.empty:
        print(result_df.head(5))

        for m in metrics:
            if m and m.lower() in result_df.columns:
                temp2_df = result_df[['src_subject_id', 'eventname', m.lower()]].copy()
                new_df = pd.concat([new_df, temp2_df])
            elif m:
                print(f"\nWarning: metric '{m}' not found in input df")
            else:
                print("\nNo metric provided. returning all columns")
    else:
        print('error with sessions')

    return new_df

In [13]:
session = input("Enter comma seperated list of follow up session to evaluate (ex: baseline,1,2,3,4): ")
metric = input("Enter variable name of interest, i.e. column name (ex: ): ")

Enter comma seperated list of follow up session to evaluate (ex: baseline,1,2,3,4):  baseline,1,2,3,4
Enter variable name of interest, i.e. column name (ex: ):  tlfb_cal_scr_num_events

In [14]:
eval_metric_df = eval_metric(df, session, metric)

      src_subject_id              eventname   tlfb_cal_scr_assess_date  \
36  NDAR_INV1JB5GWEU  baseline_year_1_arm_1  2018-08-18T07:54:39-07:00
59  NDAR_INV29YF00DM  baseline_year_1_arm_1  2018-08-29T05:06:54-07:00
66  NDAR_INV2KJNX54B  baseline_year_1_arm_1  2021-07-03T08:38:55-07:00
72  NDAR_INV2UWL3APY  baseline_year_1_arm_1  2018-10-14T08:35:20-07:00
79  NDAR_INV302WRHGU  baseline_year_1_arm_1  2018-07-13T18:21:17-07:00

    tlfb_cal_scr_num_events  tlfb_cal_scr_num_bde  tlfb_cal_scr_tot_bde  \
36                      1.0                   NaN                   NaN
59                      1.0                   NaN                   NaN
66                      2.0                   NaN                   NaN
72                      1.0                   NaN                   NaN
79                     26.0                   NaN                   NaN

    tlfb_cal_scr_drinksperbinge  tlfb_cal_scr_alc_avg  tlfb_cal_scr_alc_ud  \
36                          NaN                   2.0                  1.0
59                          NaN                   0.2                  1.0
66                          NaN                   NaN                  NaN
72                          NaN                   NaN                  NaN
79                          NaN                   NaN                  NaN

    tlfb_cal_scr_alc_td  ...  tlfb_cal_scr_smj_td_cum  \
36                  2.0  ...                      NaN
59                  0.2  ...                      NaN
66                  NaN  ...                      NaN
72                  NaN  ...                      NaN
79                  NaN  ...                      NaN

    tlfb_cal_scr_smj_ud_cum  tlfb_cal_scr_stimrx_td_cum  \
36                      NaN                         NaN
59                      NaN                         NaN
66                      NaN                         NaN
72                      NaN                         NaN
79                      NaN                         NaN

   tlfb_cal_scr_stimrx_ud_cum  tlfb_cal_scr_tot_su_ud_cum  \
36                        NaN                         NaN
59                        NaN                         NaN
66                        NaN                         NaN
72                        NaN                         NaN
79                        NaN                         NaN

    tlfb_cal_scr_vmjf_td_cum  tlfb_cal_scr_vmjf_ud_cum  \
36                       NaN                       NaN
59                       NaN                       NaN
66                       NaN                       NaN
72                       NaN                       NaN
79                       NaN                       NaN

    tlfb_cal_scr_vmjo_ud_cum  su_tlfb_cal_scr_nic_days_cum  \
36                       NaN                           NaN
59                       NaN                           NaN
66                       NaN                           NaN
72                       NaN                           NaN
79                       NaN                           NaN

    su_tlfb_cal_scr_mj_days_cum
36                          NaN
59                          NaN
66                          NaN
72                          NaN
79                          NaN

[5 rows x 440 columns]

In [15]:
eval_metric_df

       src_subject_id                 eventname  tlfb_cal_scr_num_events
36   NDAR_INV1JB5GWEU     baseline_year_1_arm_1                      1.0
59   NDAR_INV29YF00DM     baseline_year_1_arm_1                      1.0
66   NDAR_INV2KJNX54B     baseline_year_1_arm_1                      2.0
72   NDAR_INV2UWL3APY     baseline_year_1_arm_1                      1.0
79   NDAR_INV302WRHGU     baseline_year_1_arm_1                     26.0
..                ...                       ...                      ...
747  NDAR_INVZGT6YAX7  4_year_follow_up_y_arm_1                      3.0
748  NDAR_INVZK8052MG  4_year_follow_up_y_arm_1                      7.0
751  NDAR_INVZRKWPYJL  4_year_follow_up_y_arm_1                      4.0
754  NDAR_INVZWE6CD6Y  4_year_follow_up_y_arm_1                    276.0
758  NDAR_INVZZJ3A7BK  4_year_follow_up_y_arm_1                    142.0

[759 rows x 3 columns]

In [16]:
eval_metric_df['tlfb_cal_scr_num_events'].value_counts()

tlfb_cal_scr_num_events
1.0      174
2.0      102
3.0       56
0.0       54
5.0       49
        ...
140.0      1
394.0      1
264.0      1
318.0      1
142.0      1
Name: count, Length: 97, dtype: int64

In [18]:
eval_metric_df['tlfb_cal_scr_num_events'].isna().sum()

32

In [19]:
eval_metric_df['eventname'].isna().sum()

0

In [20]:
eval_metric_df['src_subject_id'].isna().sum()

0

In [21]:
cleaned_metric_df = eval_metric_df.dropna(subset=['tlfb_cal_scr_num_events'])

In [22]:
cleaned_metric_df

       src_subject_id                 eventname  tlfb_cal_scr_num_events
36   NDAR_INV1JB5GWEU     baseline_year_1_arm_1                      1.0
59   NDAR_INV29YF00DM     baseline_year_1_arm_1                      1.0
66   NDAR_INV2KJNX54B     baseline_year_1_arm_1                      2.0
72   NDAR_INV2UWL3APY     baseline_year_1_arm_1                      1.0
79   NDAR_INV302WRHGU     baseline_year_1_arm_1                     26.0
..                ...                       ...                      ...
747  NDAR_INVZGT6YAX7  4_year_follow_up_y_arm_1                      3.0
748  NDAR_INVZK8052MG  4_year_follow_up_y_arm_1                      7.0
751  NDAR_INVZRKWPYJL  4_year_follow_up_y_arm_1                      4.0
754  NDAR_INVZWE6CD6Y  4_year_follow_up_y_arm_1                    276.0
758  NDAR_INVZZJ3A7BK  4_year_follow_up_y_arm_1                    142.0

[727 rows x 3 columns]

In [23]:
event_order = ['baseline_year_1_arm_1', '1_year_follow_up_y_arm_1', '2_year_follow_up_y_arm_1', '3_year_follow_up_y_arm_1', '4_year_follow_up_y_arm_1']
cleaned_metric_df['eventname_ranked'] = cleaned_metric_df['eventname'].map({event: i for i, event in enumerate(event_order)})
cleaned_metric_df

/tmp/ipykernel_1096445/2628464336.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_metric_df['eventname_ranked'] = cleaned_metric_df['eventname'].map({event: i for i, event in enumerate(event_order)})

,src_subject_id,eventname,tlfb_cal_scr_num_events,eventname_ranked
36,NDAR_INV1JB5GWEU,baseline_year_1_arm_1,1.0,0
59,NDAR_INV29YF00DM,baseline_year_1_arm_1,1.0,0
66,NDAR_INV2KJNX54B,baseline_year_1_arm_1,2.0,0
72,NDAR_INV2UWL3APY,baseline_year_1_arm_1,1.0,0
79,NDAR_INV302WRHGU,baseline_year_1_arm_1,26.0,0
...,...,...,...,...
747,NDAR_INVZGT6YAX7,4_year_follow_up_y_arm_1,3.0,4
748,NDAR_INVZK8052MG,4_year_follow_up_y_arm_1,7.0,4
751,NDAR_INVZRKWPYJL,4_year_follow_up_y_arm_1,4.0,4
754,NDAR_INVZWE6CD6Y,4_year_follow_up_y_arm_1,276.0,4
758,NDAR_INVZZJ3A7BK,4_year_follow_up_y_arm_1,142.0,4

In [25]:
metric_df_event_sorted = cleaned_metric_df.sort_values(['src_subject_id', 'eventname_ranked'], ascending=[True, False])
metric_df_event_sorted

,src_subject_id,eventname,tlfb_cal_scr_num_events,eventname_ranked
0,NDAR_INV03CV8RDT,4_year_follow_up_y_arm_1,8.0,4
2,NDAR_INV04EUBGTM,4_year_follow_up_y_arm_1,6.0,4
4,NDAR_INV06A9DLE9,3_year_follow_up_y_arm_1,1.0,3
3,NDAR_INV06A9DLE9,2_year_follow_up_y_arm_1,11.0,2
5,NDAR_INV07CMT243,3_year_follow_up_y_arm_1,29.0,3
...,...,...,...,...
753,NDAR_INVZWE6CD6Y,3_year_follow_up_y_arm_1,3.0,3
755,NDAR_INVZZFG6J5U,3_year_follow_up_y_arm_1,8.0,3
758,NDAR_INVZZJ3A7BK,4_year_follow_up_y_arm_1,142.0,4
757,NDAR_INVZZJ3A7BK,3_year_follow_up_y_arm_1,46.0,3
756,NDAR_INVZZJ3A7BK,2_year_follow_up_y_arm_1,21.0,2

In [28]:
metric_df_latest_sub_info = metric_df_event_sorted.drop_duplicates(subset=['src_subject_id'], keep='first')
metric_df_latest_sub_info

,src_subject_id,eventname,tlfb_cal_scr_num_events,eventname_ranked
0,NDAR_INV03CV8RDT,4_year_follow_up_y_arm_1,8.0,4
2,NDAR_INV04EUBGTM,4_year_follow_up_y_arm_1,6.0,4
4,NDAR_INV06A9DLE9,3_year_follow_up_y_arm_1,1.0,3
5,NDAR_INV07CMT243,3_year_follow_up_y_arm_1,29.0,3
6,NDAR_INV0A6WVRZY,4_year_follow_up_y_arm_1,4.0,4
...,...,...,...,...
750,NDAR_INVZPEYC15U,baseline_year_1_arm_1,0.0,0
751,NDAR_INVZRKWPYJL,4_year_follow_up_y_arm_1,4.0,4
754,NDAR_INVZWE6CD6Y,4_year_follow_up_y_arm_1,276.0,4
755,NDAR_INVZZFG6J5U,3_year_follow_up_y_arm_1,8.0,3
758,NDAR_INVZZJ3A7BK,4_year_follow_up_y_arm_1,142.0,4

In [31]:
metric_df = metric_df_latest_sub_info.drop(['eventname','eventname_ranked'], axis=1)
metric_df

       src_subject_id  tlfb_cal_scr_num_events
0    NDAR_INV03CV8RDT                      8.0
2    NDAR_INV04EUBGTM                      6.0
4    NDAR_INV06A9DLE9                      1.0
5    NDAR_INV07CMT243                     29.0
6    NDAR_INV0A6WVRZY                      4.0
..                ...                      ...
750  NDAR_INVZPEYC15U                      0.0
751  NDAR_INVZRKWPYJL                      4.0
754  NDAR_INVZWE6CD6Y                    276.0
755  NDAR_INVZZFG6J5U                      8.0
758  NDAR_INVZZJ3A7BK                    142.0

[611 rows x 2 columns]

In [32]:
metric_df.to_csv('subjectID_plus_number_of_uses.csv', index=False)