In [54]:
import numpy as np
import pandas as pd

In [55]:
cd1 = pd.read_csv("/home/feczk001/shared/projects/FEZ_USERS/feczk001/UPPS_ABCD_FRF/code/jacob/Temp_fixed_list_ARMS1_merged.csv")
cd2 = pd.read_csv("/home/feczk001/shared/projects/FEZ_USERS/feczk001/UPPS_ABCD_FRF/code/jacob/Temp_fixed_list_ARMS2_merged.csv")

In [56]:
cd1.shape

(3337, 25)

In [57]:
cd2.shape

(3234, 25)

In [58]:
cd1.head()

,src_subject_id.baseline_year_1_arm_1.x,X,dataset_id.baseline_year_1_arm_1.x,interview_age.baseline_year_1_arm_1.x,sex.baseline_year_1_arm_1.x,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,...,nihtbx_flanker_agecorrected.baseline_year_1_arm_1,nihtbx_list_agecorrected.baseline_year_1_arm_1,nihtbx_cardsort_agecorrected.baseline_year_1_arm_1,nihtbx_pattern_agecorrected.baseline_year_1_arm_1,nihtbx_picture_agecorrected.baseline_year_1_arm_1,nihtbx_reading_agecorrected.baseline_year_1_arm_1,nihtbx_fluidcomp_agecorrected.baseline_year_1_arm_1,nihtbx_cryst_agecorrected.baseline_year_1_arm_1,nihtbx_totalcomp_agecorrected.baseline_year_1_arm_1,community
0,NDAR_INV003RTV85,1,47437,131,F,9,2,6,2,10,...,101,100,86,103,106,81,98.0,102.0,99.0,7
1,NDAR_INV007W6H7B,3,47437,126,M,5,1,1,6,6,...,92,107,103,95,119,110,104.0,119.0,114.0,7
2,NDAR_INV00BD7VDC,4,47437,112,M,6,2,5,11,8,...,116,145,90,117,116,85,127.0,90.0,110.0,5
3,NDAR_INV00HEV6HB,6,47437,124,M,13,4,7,4,12,...,74,93,94,103,99,110,88.0,101.0,93.0,1
4,NDAR_INV00LH735Y,8,47437,109,M,12,3,6,2,5,...,88,82,81,56,116,85,75.0,90.0,79.0,8

In [59]:
cd1 = cd1.filter(regex=r'^bis|^upps|^community$', axis=1)
cd2 = cd2.filter(regex=r'^bis|^upps|^community$', axis=1)

In [60]:
cd1.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,9,2,6,2,10,7,11,7,10,7
1,5,1,1,6,6,8,11,6,10,7
2,6,2,5,11,8,8,7,11,6,5
3,13,4,7,4,12,11,12,6,7,1
4,12,3,6,2,5,4,6,11,5,8

In [61]:
cd2.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,12,9,3,8,9,9,9,13,9,4
1,7,3,3,8,6,5,7,13,8,1
2,15,6,12,10,12,11,8,15,6,5
3,13,0,3,12,6,4,6,14,6,6
4,11,3,10,11,11,8,9,15,6,1

In [62]:
#cd1 = cd1.drop(['nihtbx_list_agecorrected.baseline_year_1_arm_1'], axis=1)
#cd2 = cd2.drop(['nihtbx_list_agecorrected.baseline_year_1_arm_1'], axis=1)

In [63]:
cd1.shape

(3337, 10)

In [64]:
cd2.shape

(3234, 10)

In [65]:
def remove_small_communities(df, community_column, threshold=100):
    community_counts = df[community_column].value_counts()
    mask = df[community_column].isin(community_counts[community_counts >= threshold].index)
    filtered_df = df[mask]
    return filtered_df

cd1 = remove_small_communities(cd1, 'community')
value_counts_cd1 = cd1['community'].value_counts()
print(value_counts_cd1)

community
2    661
1    631
4    449
3    415
5    327
6    267
7    184
8    108
9    104
Name: count, dtype: int64

In [66]:
cd2 = remove_small_communities(cd2, 'community')
value_counts_cd2 = cd2['community'].value_counts()
print(value_counts_cd2)

community
1    818
2    538
4    518
3    462
6    367
5    352
7    121
Name: count, dtype: int64

In [67]:
cd1.shape

(3146, 10)

In [68]:
cd2.shape

(3176, 10)

In [69]:
cd1.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,9,2,6,2,10,7,11,7,10,7
1,5,1,1,6,6,8,11,6,10,7
2,6,2,5,11,8,8,7,11,6,5
3,13,4,7,4,12,11,12,6,7,1
4,12,3,6,2,5,4,6,11,5,8

In [70]:
cd2.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,12,9,3,8,9,9,9,13,9,4
1,7,3,3,8,6,5,7,13,8,1
2,15,6,12,10,12,11,8,15,6,5
3,13,0,3,12,6,4,6,14,6,6
4,11,3,10,11,11,8,9,15,6,1

In [71]:
#cd1.columns = cd1.columns.str.extract(r'bis_y_ss_bas\_(.+?)\.baseline', expand=False)

In [72]:
cd1.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,9,2,6,2,10,7,11,7,10,7
1,5,1,1,6,6,8,11,6,10,7
2,6,2,5,11,8,8,7,11,6,5
3,13,4,7,4,12,11,12,6,7,1
4,12,3,6,2,5,4,6,11,5,8

In [73]:
cd2.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,12,9,3,8,9,9,9,13,9,4
1,7,3,3,8,6,5,7,13,8,1
2,15,6,12,10,12,11,8,15,6,5
3,13,0,3,12,6,4,6,14,6,6
4,11,3,10,11,11,8,9,15,6,1

In [74]:
#cd1 = cd1.rename(columns={cd1.columns[cd1.columns.isnull()][0]: 'community'})
#cd2 = cd2.rename(columns={cd2.columns[cd2.columns.isnull()][0]: 'community'})

In [75]:
cd1.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,9,2,6,2,10,7,11,7,10,7
1,5,1,1,6,6,8,11,6,10,7
2,6,2,5,11,8,8,7,11,6,5
3,13,4,7,4,12,11,12,6,7,1
4,12,3,6,2,5,4,6,11,5,8

In [76]:
cd2.head()

,bis_y_ss_bas_rr.baseline_year_1_arm_1,bis_y_ss_bas_drive.baseline_year_1_arm_1,bis_y_ss_bas_fs.baseline_year_1_arm_1,bis_y_ss_bis_sum.baseline_year_1_arm_1,upps_y_ss_negative_urgency.baseline_year_1_arm_1,upps_y_ss_positive_urgency.baseline_year_1_arm_1,upps_y_ss_lack_of_planning.baseline_year_1_arm_1,upps_y_ss_sensation_seeking.baseline_year_1_arm_1,upps_y_ss_lack_of_perseverance.baseline_year_1_arm_1,community
0,12,9,3,8,9,9,9,13,9,4
1,7,3,3,8,6,5,7,13,8,1
2,15,6,12,10,12,11,8,15,6,5
3,13,0,3,12,6,4,6,14,6,6
4,11,3,10,11,11,8,9,15,6,1

In [77]:
melted_cd1 = pd.melt(cd1, id_vars='community', var_name='metric', value_name='mean')
melted_cd2 = pd.melt(cd2, id_vars='community', var_name='metric', value_name='mean')

In [78]:
melted_cd1

       community                                             metric  mean
0              7              bis_y_ss_bas_rr.baseline_year_1_arm_1     9
1              7              bis_y_ss_bas_rr.baseline_year_1_arm_1     5
2              5              bis_y_ss_bas_rr.baseline_year_1_arm_1     6
3              1              bis_y_ss_bas_rr.baseline_year_1_arm_1    13
4              8              bis_y_ss_bas_rr.baseline_year_1_arm_1    12
...          ...                                                ...   ...
28309          4  upps_y_ss_lack_of_perseverance.baseline_year_1...     7
28310          2  upps_y_ss_lack_of_perseverance.baseline_year_1...     7
28311          1  upps_y_ss_lack_of_perseverance.baseline_year_1...     4
28312          4  upps_y_ss_lack_of_perseverance.baseline_year_1...     5
28313          1  upps_y_ss_lack_of_perseverance.baseline_year_1...     6

[28314 rows x 3 columns]

In [79]:
melted_cd2

       community                                             metric  mean
0              4              bis_y_ss_bas_rr.baseline_year_1_arm_1    12
1              1              bis_y_ss_bas_rr.baseline_year_1_arm_1     7
2              5              bis_y_ss_bas_rr.baseline_year_1_arm_1    15
3              6              bis_y_ss_bas_rr.baseline_year_1_arm_1    13
4              1              bis_y_ss_bas_rr.baseline_year_1_arm_1    11
...          ...                                                ...   ...
28579          2  upps_y_ss_lack_of_perseverance.baseline_year_1...     8
28580          5  upps_y_ss_lack_of_perseverance.baseline_year_1...     6
28581          2  upps_y_ss_lack_of_perseverance.baseline_year_1...     5
28582          1  upps_y_ss_lack_of_perseverance.baseline_year_1...     7
28583          3  upps_y_ss_lack_of_perseverance.baseline_year_1...     5

[28584 rows x 3 columns]

In [80]:
grouped_cd1 = melted_cd1.groupby(['community', 'metric'])['mean'].mean().reset_index()
grouped_cd2 = melted_cd2.groupby(['community', 'metric'])['mean'].mean().reset_index()

In [81]:
grouped_cd1

    community                                             metric       mean
0           1           bis_y_ss_bas_drive.baseline_year_1_arm_1   2.852615
1           1              bis_y_ss_bas_fs.baseline_year_1_arm_1   5.935024
2           1              bis_y_ss_bas_rr.baseline_year_1_arm_1  10.606973
3           1             bis_y_ss_bis_sum.baseline_year_1_arm_1   9.630745
4           1  upps_y_ss_lack_of_perseverance.baseline_year_1...   6.857369
..        ...                                                ...        ...
76          9  upps_y_ss_lack_of_perseverance.baseline_year_1...   6.432692
77          9   upps_y_ss_lack_of_planning.baseline_year_1_arm_1   8.365385
78          9   upps_y_ss_negative_urgency.baseline_year_1_arm_1   8.240385
79          9   upps_y_ss_positive_urgency.baseline_year_1_arm_1   6.490385
80          9  upps_y_ss_sensation_seeking.baseline_year_1_arm_1   9.278846

[81 rows x 3 columns]

In [82]:
grouped_cd2

    community                                             metric       mean
0           1           bis_y_ss_bas_drive.baseline_year_1_arm_1   2.850856
1           1              bis_y_ss_bas_fs.baseline_year_1_arm_1   5.212714
2           1              bis_y_ss_bas_rr.baseline_year_1_arm_1  10.260391
3           1             bis_y_ss_bis_sum.baseline_year_1_arm_1   8.850856
4           1  upps_y_ss_lack_of_perseverance.baseline_year_1...   6.877751
..        ...                                                ...        ...
58          7  upps_y_ss_lack_of_perseverance.baseline_year_1...   7.132231
59          7   upps_y_ss_lack_of_planning.baseline_year_1_arm_1   8.487603
60          7   upps_y_ss_negative_urgency.baseline_year_1_arm_1   7.975207
61          7   upps_y_ss_positive_urgency.baseline_year_1_arm_1   6.347107
62          7  upps_y_ss_sensation_seeking.baseline_year_1_arm_1  10.033058

[63 rows x 3 columns]

In [83]:
def calculate_mae(grouped_cd1, grouped_cd2, community1, community2):
    df1 = grouped_cd1[grouped_cd1['community'] == community1]
    df2 = grouped_cd2[grouped_cd2['community'] == community2]
    merged_df = pd.merge(df1, df2, on='metric', suffixes=('_cd1', '_cd2'))
    merged_df['abs_diff'] = (merged_df['mean_cd1'] - merged_df['mean_cd2']).abs()
    mae = merged_df['abs_diff'].mean()
    return mae

In [84]:
community1 = 4
community2 = 5

mae = calculate_mae(grouped_cd1, grouped_cd2, community1, community2)
print(f"The MAE between community {community1} in grouped_cd1 (ARMS1) and community {community2} in grouped_cd2 (ARMS2) is {mae:.2f}")

The MAE between community 4 in grouped_cd1 (ARMS1) and community 5 in grouped_cd2 (ARMS2) is 0.26